<!--Page Container-->

<mat-sidenav-container class="sidenav-container">
  <!--Side Nav Bar (Left Side)-->
  @if (showSidenav) {

  <mat-sidenav
    #drawer
    class="sidenav-bar"
    fixedInViewport
    [@slideInAnimation]
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="side-toolbar">
      <img
        src="../../../../../assets/images/pup_taguig_logo.svg"
        alt="PUP Taguig Logo"
        class="side-toolbar-img"
      />
      <div class="header-name">
        <div class="university-name">PUP TAGUIG</div>
        <div class="system-name">FACULTY LOADING<br />& SCHEDULING</div>
      </div>
    </div>
    <mat-nav-list class="navbar-list">
      <!-- <div class="group">
        <h4 class="list-subheader">Dashboard</h4>
        <a
          mat-list-item
          class="list-item"
          routerLink="/superadmin/dashboard"
          routerLinkActive="active-link"
        >
          <span mat-symbol="dashboard" matListItemIcon></span>
          <span matListItemTitle>Dashboard</span>
        </a>
      </div> -->

      <div class="group">
        <h4 class="list-subheader">Management</h4>
        <a
          mat-list-item
          class="list-item"
          routerLink="/superadmin/admin"
          routerLinkActive="active-link"
        >
          <span mat-symbol="admin_panel_settings" matListItemIcon></span>
          <span matListItemTitle>Manage Admin</span>
        </a>
        <a
          mat-list-item
          class="list-item"
          routerLink="/superadmin/faculty"
          routerLinkActive="active-link"
        >
          <span mat-symbol="groups" matListItemIcon></span>
          <span matListItemTitle>Manage Faculty</span>
        </a>
      </div>

      <div class="group">
        <h4 class="list-subheader">Maintenance</h4>
        <a
          mat-list-item
          class="list-item"
          routerLink="/superadmin/curriculum"
          routerLinkActive="active-link"
        >
          <span mat-symbol="list_alt" matListItemIcon></span>
          <span matListItemTitle>Curriculum</span>
        </a>
        <a
          mat-list-item
          class="list-item"
          routerLink="/superadmin/programs"
          routerLinkActive="active-link"
        >
          <span mat-symbol="school" matListItemIcon></span>
          <span matListItemTitle>Programs</span>
        </a>
        <!--No longer displayed
        <a
          mat-list-item
          class="list-item"
          routerLink="/superadmin/courses"
          routerLinkActive="active-link"
        >
          <span mat-symbol="book" matListItemIcon></span>
          <span matListItemTitle>Courses</span>
        </a>
        -->
        <a
          mat-list-item
          class="list-item"
          routerLink="/superadmin/rooms"
          routerLinkActive="active-link"
        >
          <span mat-symbol="meeting_room" matListItemIcon></span>
          <span matListItemTitle>Rooms</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  }

  <!--Side Nav Content (Right Side)-->
  <mat-sidenav-content class="sidenav-content">
    <!--Main Toolbar-->
    <mat-toolbar class="main-toolbar">
      <!--Displays toggle sidenav button-->
      @if (isHandset$ | async) {
      <div class="toggle-button-container">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          class="toggle-button"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      }

      <!--Actual sidenav content-->
      <header class="sidenav-header">
        <!--Page Title-->
        <div class="title-container">
          <h2 class="page-title">{{ pageTitle }}</h2>
        </div>

        <!-- Admin Account -->
        <div class="header-account">
          <div class="account-text">
            <div class="account-name">{{ accountName }}</div>
            <div class="account-role">Super Administrator</div>
          </div>
          <div class="profile-dropdown">
            <img
              src="assets/images/default_superadmin_icon.png"
              alt="Profile Icon"
              class="profile-icon"
              (click)="toggleDropdown($event)"
              matTooltip="Click to open settings"
              matTooltipPosition="below"
            />
            @if (isDropdownOpen) {
            <div class="dropdown-menu">
              <span class="dropdown-item" (click)="toggleTheme()">
                <span
                  [mat-symbol]="
                    (themeService.isDarkTheme$ | async)
                      ? 'light_mode'
                      : 'dark_mode'
                  "
                ></span>

                Switch Theme
              </span>
              <span class="dropdown-item logout" (click)="logout()">
                <span mat-symbol="logout"></span>
                Logout
              </span>
            </div>
            }
          </div>
        </div>
      </header>
    </mat-toolbar>
    <!-- Main Content -->
    <div class="sidenav-main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
