<div class="faculty-home-container">
  @if (isLoading) {
  <div class="loading-wrapper">
    <app-loading></app-loading>
  </div>
  } @else {
  <!-- Home first row -->
  <div class="home-row-one" [@fadeAnimation]>
    <!-- Home greetings -->
    <div id="home_greetings">
      <h1>Hello, {{ facultyName }}</h1>
      <p>
        Here's your class schedule for this month and other key information.
      </p>
    </div>

    <!-- Calendar -->
    <div class="faculty-calendar">
      <full-calendar
        class="full-calendar"
        #calendar
        [options]="calendarOptions"
      ></full-calendar>
    </div>
  </div>

  <!-- Home second row -->
  <div class="home-row-two" [@fadeAnimation]>
    <!-- Active Semester -->
    <div class="active-year-sem-container">
      <!--Icon Container-->
      <div class="icon-container">
        <span mat-symbol="event_note" weight="300"></span>
      </div>
      <!--Text Container-->
      <div class="text-container">
        <p class="text">
          A.Y. {{ activeYear }},
          {{ activeSemester }}
        </p>
        <p class="label">Current Academic Year & Semester</p>
      </div>
    </div>

    <!--Announcement-->
    <div class="faculty-announcement">
      <!--Title-->
      <h2 class="card-title">
        <span mat-symbol="notifications"></span>Notifications
      </h2>
      <!--Content-->
      <div class="notifications-content">
        <!--No notifications-->
        @if (!notifications.length) {
        <div class="no-notifications">
          <img src="../../../../../assets/images/empty.svg" />
          <div class="no-text">
            <span mat-symbol="info"></span>
            <span>No notifications yet.</span>
          </div>
        </div>
        }
        <!--Has notifications-->
        @else {
        <div [@cardEntranceSide]="notifications.length">
          <div class="notifications-list">
            @for (notification of notifications; track
            notification.faculty_notifications_id) {
            <div class="notification-item">
              <p class="notification-message">{{ notification.message }}</p>
              <span class="notification-timestamp">{{
                notification.timestamp
              }}</span>
            </div>
            }
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
